// Flex 
.flex {
    display: flex;
}

.flex.flex-column{
    flex-direction: column;
}

.flex.justify-center{
    justify-content: center;
}


.flex.justify-between{
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

// .inline-flex {
//     display: inline-flex;
// }

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text 
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);  
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

.colored-text {
    color: $clr1;
}

.add-btn {
    margin: 0.6em ;
}

// Aspect ratios

.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); }


/* font awsome */

// .fa {
//     font-family: fa;
// }

// .fa.fa-facebook::before {
//     content: "\f39e";
// }

// .fa.fa-twitter::before {
//     content: "\f099";
// }

// .fa.fa-dribbble::before {
//     content: "\f17d";
// }

// .fa.fa-behance::before {
//     content: "\f1b4";
// }