.home-h2{
    font-size: 2em;
}

.home-p{
    font-size: large;
}

.small-lttrs{
    font-size: small;
}

.home {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
}

.home-txt {
    display: block; 
    align-self: center;
}

.home img {
    display: flex;
    flex-grow: 1;
    max-inline-size: 15%;
}