:root {
  --clr1: #ff04ab;
  --clr2: #960a98;

  --clr1bg: #aaffe3;
  --clr1bg-light: #c1f1e1;
  --clr2bg: #ff9ef9;
  --cartbg: #5eecff;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 